svg {
    background-color: rgb(40, 40, 40);
    border: solid 0.1rem rgb(118, 118, 118);
    border-radius: 0.5rem;
}

g .rd3t-node {
    fill: rgb(20, 20, 20);
    stroke: white;
    stroke-width: 0.5px;
}

g .rd3t-link {
    stroke: white;
    stroke-width: 1px;
}

g .rd3t-node:hover {
    fill: rgb(0, 0, 0);
}

.node__root text {
    fill: rgb(255, 255, 255);
    font-size: 18px;
}

.node__branch text {
    fill: rgb(255, 255, 255);
    font-size: 18px;
}

.node__leaf text {
    fill: rgb(0, 0, 0);
    font-size: 18px;
}

.node__leaf rect {
    fill: rgb(203, 203, 203);
}

.tooltip {
    display: none;
    position: fixed;
    background: rgba(37, 35, 35);
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    z-index: 1000;
    max-width: 250px;
    overflow-wrap: break-word;
    font-size: 10px;
    color: white;
}