svg {
    background-color: rgb(40, 40, 40);
    border: solid 0.1rem rgb(118, 118, 118);
    border-radius: 0.5rem;
}

g .rd3t-node {
    fill: rgb(20, 20, 20);
    stroke: white;
    stroke-width: 0.5px;
}

g .rd3t-link {
    stroke: white;
    stroke-width: 1px;
}

g .rd3t-node:hover {
    fill: rgb(0, 0, 0);
}

.node__root text {
    fill: rgb(255, 255, 255);
    font-size: 18px;
}

.node__branch text {
    fill: rgb(255, 255, 255);
    font-size: 18px;
}

.node__leaf text {
    fill: rgb(0, 0, 0);
    font-size: 18px;
} 

.node__leaf rect{
    fill:rgb(203, 203, 203);
}

/* .node_element_tree title{
    font-size:12px;
} */


/* .tooltip {
    position: absolute;
    background: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
} */